a {
  color: inherit;
  text-decoration: none;
  
}

.container-tabla{
    width: 100%;
    max-width: 40rem;
    margin: 0.3rem;
}

.rdt_TableRow:hover {
  background-color: rgb(117, 115, 115) !important; /* color de tu preferencia */
  color: black !important;
}

/* Negrita en los encabezados de columna */
.rdt_TableHead, .rdt_TableCol {
  font-weight: bold !important;
  font-size: 1rem;
}

div.rdt_TableHeader > div:first-child {
  font-weight: bold;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-transform: uppercase;
}

