
.datos-equipo {
  display: flex;
  flex-direction: row;       /* elementos en fila */
  justify-content: space-between; /* separa a los extremos */
  align-items: center;       /* alinea verticalmente */
  margin-bottom: 1rem;
  text-align: left;          /* mejor para lectura horizontal */
}

.nombre {
  width: 100%;
}
.verde{
  color: lightgreen;
}
.nombre-equipo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;                   /* ya no necesitas margin-bottom */
  color: white;
  text-decoration: underline;
}

.datos-equipo p {
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 500px) {
  .datos-equipo p {
  font-size: 0.9rem;
  color: white;
}
}